.dimmer{
    
    height:100%;
    width:100%;
    background-color: rgb(0,0,0,0.9);
/*    opacity: 80%;*/
    position: fixed;
    top: 0px;
    left: 0px;
    display:none;
    z-index:100;
    align-items: center;
    justify-content: center;
}

.cardChoiceGrid{
    
    display:grid;
    grid-template-columns:auto auto auto;
/*    grid-template-rows: auto auto auto auto;*/
    gap: 10%;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    width:inherit;
    height: inherit;
}

.cardChoiceGrid .nameSlot{
    
    text-align: center;
    margin:10px;
    color:white;
    font-size: 26px;
}


.cardChoiceGrid::-webkit-scrollbar {
  display: none;
}


.cardChoiceGrid > img{
    
    opacity:100%;
    z-index:102;
    margin:8%;
}

.cardChoiceTray{
    
    display:none;
    width: 80%;
    height: min-content;
    max-height: 80%;
    background-color: azure;
    top: 5%;
    left:-75%;
    position:relative;
    overflow-y: auto;
}

.cardChoiceTrayGrid{
    
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-auto-rows: min-content;
    gap: 5%;
    align-items: center;
    justify-content: center;
    width:80%;
    height:100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 100px;
}

.cardChoiceTrayGrid .nameSlot{
    
    text-align: center;
    margin:10px;
    
    font-size: 18px;
}

.narrativeOutput{
    
    margin:10%;
    position:fixed;
    font-size: 25px;
}

