.routineDisplay{
    
    font-size: 175px;
    text-align: center;
}

.remainingTime{
    
    position: fixed;
    height: 100px;
    width: 100%;
    bottom: 20%;
    font-size: 210px;
    text-align: center;
    z-index: -1;
}