.routineDisplay{
    
    font-size: 155px;
    text-align: center;
}

.startButton{
    
    font-size:55px;
}

.remainingTime{
    
    position: fixed;
    height: 100px;
    width: 100%;
    bottom: 20%;
    font-size: 210px;
    text-align: center;
    z-index: -1;
}

body{
    
    background-color: bisque;
    
}